{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Wolan{% endblock title %}</title>
        <meta charset="UTF-8">
        {% block style %}
            <link rel="stylesheet" href="{% static "css/styles.css" %}">
        {% endblock style %}
    </head>
    <body>
        <header>
            <h2>
                <a class="header-text" href="{% url 'blog:post_list' %}">
                    My Blog: <small> {% total_posts %} posts available</small>
                </a>
            </h2>

        </header>
        <div class="container">
            <div class="content tile">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="sidebar tile">
                {% block sidebar %}
                    {% show_latest_posts %}
                {% endblock sidebar %}
            </div>
        </div>
    {% block javascript %}
    {% endblock javascript %}
    </body>
</html>