{% extends 'blog/base.html' %}

{% block title %}
My blogogio
{% endblock title %}

{% block content %}

    {% for post in posts %}
        <div class="posts">
            <h2><a href="{{ post.get_absolute_url }}" class="post-title">{{ post.title }}</a></h2>
            <span class="post_info">Published: {{ post.publish }} by {{ post.author }}</span>
            <p> {{ post.body|truncatewords:30|linebreaks }}</p>
        </div>
    {% endfor %}
    {% comment %} 
    Pagination template expeexts a page object in irder to display current page 
    and total pages, the page object passed to pagination template is called posts {% endcomment %}
    {% include "pagination.html" with page=posts %}

{% endblock content %} 
