:root{
    box-sizing: border-box;
}
*, ::before, ::after{
    box-sizing: inherit;
}
body * + *{
    margin-top: 1.5em;

}
body{
    margin: 0;
    padding: 0;
    font-family: Arial Arial, Helvetica, sans-serif;
    background-color: white;

    /*Used a gradient generator*/
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(97,92,92,1) 100%);
}
header{
    color:black;
    background-color: #eee; 
    padding: 0.5em;
    font-weight:bold;
}
.header-text{
    color:black;
    text-decoration: none;
}
.header-text:hover{
    color:rgb(70, 70, 70);
}
.container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    margin-top: 1.5em;
}

.tile{
    background-color: #eee;
    padding: 1.5em;
}

.container > * + *{
    margin-left: 1.5em;
}

.content{
    flex: 3
}
.posts > h2{
    margin: 0;
    border-bottom: 1px solid rgb(197, 197, 197);
}
.post-title{
    text-decoration: none;
    color: black
}
.post-title:hover{
    color: rgb(75, 73, 73);
}
.post_info{
    color: rgb(156, 155, 155);
    font-weight:lighter;
}
.posts{
    background-color: white;
    padding: 1em;
}

.sidebar{
    flex:1;
    margin-top: 0; /*Eliminate lobotomised owl*/
}

/*STYLES SPECIICALY TARGETING BLOG POST*/
.blog-post{
    background-color: white;
    padding: 1em;
}
.blog-post > h2{
    border-bottom: 1px solid #eee;
    margin-top: 0;
}
.blog-button{
    text-decoration: none;
    color: black;
    cursor: pointer;
    background-color: rgb(197, 197, 197);
    padding: 0.5em 1em;
    cursor: pointer;
}
.blog-button:hover{
    background-color: rgb(155, 153, 153);
}
.tags{
    font-size: 0.8rem;
    background-color: grey;
    color:white;
    padding: 0.4em;
    border-radius: 0.1em;
    text-decoration: none;
    cursor: pointer;
}
/* 
Apply styling only amongst the tags
.tag-div > a + a{ 
.tag-div > .tags + .tags{ 
*/
.tag-div{
    margin: 0.5em 0 0 0;
}
.tag-div > * + *{
    margin-left: 0.5em;
}
.tags:hover{
    background-color: rgb(109, 108, 108);
}

/*The blog button that opens the modal has id=open so we can target is using
the ruleset below */
#open{
    border: none;
    font-size: 1rem;
}
.comment-list{
    background-color: white;
    padding: 1em;
}
.comment-list > h2{
    border-bottom: 1px solid #eee;
    margin: 0;
}
.comment{
    padding: 1em;
    background-color: #eee;
}

/*MODA  STYLES*/
.modal{
    display: none;
}
.modal-backdrop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}
.modal-body{
    position: fixed;
    right: 20%;
    left: 20%;
    top: 3em;
    padding: 2em 3em;
    overflow: auto;
}

/* these styles are for the form   */
.form-tile{
    background-color: rgb(204, 204, 204);
    padding: 1.5em;
    
}
label{
    display: block;
    text-transform: uppercase;
    margin: 0
}
input, textarea{
    width: 100%;
    margin: 0;
    padding: 1em;
    border-radius: 0.2em;
    display: inline-block;
    border: 0
}


input[type=text]:focus{
    /* this applies only to the text inputs  */
    /* /border: 1px solid rgb(0, 0, 0);  */
    outline-style:outset;
    /* border: 0.5px solid red;
    border-radius: 0.2em; */

}


input[type=submit]{
    text-transform: uppercase;
    background-color:rgb(0, 176, 230);
    color: black;
    padding: 1.5em;
    display: block;
    cursor: pointer;
    border: 0;
}
input[type=submit]:hover{
    background-color:rgb(5, 100, 129);
    color: white
}


.form-small{
    color: rgba(71, 70, 70, 0.603);
}

.errorlist{
    list-style-type: none;
    color: red;
    background-color: white;
    border: 1px solid red;
    padding: 0.5em;
    border-radius: 0.2em

}

/*Sidebar styles*/
.sidebar-link{
    display: block;
    text-decoration: none;
    font-size: 0.8rem;
    background-color: grey;
    color:white;
    padding: 0.4em;
    border-radius: 0.1em;
    text-decoration: none;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(98, 175, 219);
}

/* Styles for the paginator at the bottom of each listview  */
.step-links > a{
    text-decoration: none;
    background-color: grey;
    padding: 0.2em 0.5em;
    color: black;
}
.step-links >a:hover{
    background-color: aquamarine;
    color: white
}